* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #212529;
    color: #ffffff;

    background-color: black;
    background: 
        linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
        url('/images/photos/home-photo.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.hero {
    border-bottom: 1px solid #495057;
    padding: 16px;
    min-height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/bowling-lanes.jpg");
    background-size: cover;
    background-position: center;
}

.hero h1 {
    font-size: 32px;
    background-color: rgba(33, 37, 41, 0.85);
    padding: 12px 24px;
    border-radius: 8px;
}

.home-row {
    border-bottom: 1px solid #495057;
    min-height: 130px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 20px;
    padding: 8px;
    background: #2b3035;
}

.reverse {
    grid-template-columns: 1fr 1fr;
}

.image-box {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 8px;
}

.text-box {
    text-align: center;
}

.text-box h1 {
    color: #ffffff;
}


#contact-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.brand-name {
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.nav {
    font-size: 20px;
}